@font-face {
  font-family: 'Zilla Slab';
  src: url('ZillaSlab-Medium.woff2') format('woff2'),
      url('ZillaSlab-Medium.woff') format('woff'),
      url('ZillaSlab-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

